<h1></h1>
{% extends 'base.html' %}
<title>{% block title %} Detalle Reserva {% endblock %}</title>
{% block content %}
<h1>Detalle Reserva</h1>
<p><strong>Administrador:</strong> <i>{{ reserva.admin }}</i></p>
<p><strong>DNI del Cliente:</strong> <i>{{ reserva.cliente.dni_cliente }}</i></p>
<p><strong>Nombre completo del Cliente:</strong> <i>{{ reserva.cliente }}</i></p>
<p><strong>Habitación:</strong> <i>{{ reserva.habitacion }}</i></p>
<p><strong>Fecha de ingreso:</strong> <i>{{ reserva.fecha_in }} </i></p>
<p><strong>Fecha de salida:</strong> <i>{{ reserva.fecha_out }}</i></p>
<p>
    <a href="{% url 'reserva_listar' %}">Regresar</a>
</p>
{% endblock%}