{% extends "base.html" %}
<title>{% block title %} Lista Reservas {% endblock %}</title>
{% block content %}
<h1>Lista Reservas</h1>

<table border CELLPADDING=7 CELLSPACING=0>
    <tbody>
        {% if object_list %}
        <thead>
            <tr>
                <td><strong>#</strong></td>
                <td><strong>Accion</strong></td>
                <td><strong>Administrador</strong></td>
                <td><strong>Cliente</strong></td>
                <td><strong>Habitacion</strong></td>
            </tr>
        </thead>
        {% for reserva in object_list %}
        <tr>
            <td>{{ reserva.id }}</td>
            <td>
                <a href="{% url 'reserva_detail' reserva.id %}">Ver detalles</a> | <a href="{% url 'reserva_editar' reserva.id %}">Editar</a>
            </td>
            <td>{{ reserva.admin }}</td>
            <td>{{ reserva.cliente }} </td>
            <td>{{ reserva.habitacion }}</td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de reservas</h1>
        {% endif %}
    </tbody>
</table>
{% endblock%}